# Ignore the virtual environment folder
env/
venv/

# Python bytecode files
__pycache__/
*.py[cod]

# Environment variables file (if you create one)
.env

# Logs
*.log

# config
config.py


# misc files
grocerylist.txt
config.py
